<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alegría - Panel de control</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Descargar Base de Datos</h1>
    <p>Haz clic en el botón para descargar la base de datos en formato SQLite.</p>
    <form action="/download" method="get">
        <button type="submit">Descargar Base de Datos</button>
    </form>
</body>
</html>