<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/reservations">Reservas</a></li>
                <li><a href="/messages">Mensajes</a></li>
                <li><a href="/database">Base de Datos</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Reservas</h1>
            <table>
                <thead>
                    <tr>
                        <th>Tel</th>
                        <th>Nombre</th>
                        <th>Mensaje</th>
                        <th>Fecha</th>
                        <th>Enviado por</th>
                    </tr>
                </thead>
                <tbody>
                    {% for messages in messages %}
                    <tr>
                        <td>{{ messages[0].replace("whatsapp:", "") }}</td>
                        <td>{{ messages[1] }}</td>
                        <td>{{ messages[2] }}</td>
                        <td>{{ messages[3] }}</td>
                        <td>{{ messages[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
